# images
photos/
*.img
*.png
*.jpg

# videos
videos/

#.idea
.idea/

# packages

# log
*.log

# goturn files
goturn.caffemodel
goturn.prototxt

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Dataset
Dataset/

#yolov5
yolov5/

#OIDv4_Toolkit/
OIDv4_Toolkit/

#.idea
.idea/

#yolov4
*.cfg
*.weights
*.names

#project
withcolor_extra.py
some-examples.py
script.py

#runs
runs/

