# images
photos/
*.img
*.png

# videos
videos/

# packages

# log
*.log

# goturn files
goturn.caffemodel
goturn.prototxt

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Dataset
Dataset/

#yolov5
yolov5/

#OIDv4_Toolkit/
OIDv4_Toolkit/

#.idea
.idea/